
body {
    background-color: #04AA6D;
    position: relative;
    color: black;
  }
  h4{
    padding-top: 8px;
    text-align: center;
    font-size: 17px;
  }
  
  h1{
    text-align: center;
  }
  
  h2{
    padding-bottom: 0.5em;
    text-align: center;
  }
  #main{
    color:black;
    display:block;
    max-width: 85%;
    height: 900px;
    margin: auto;
    margin-top: 5%;
    padding: 2em;
    position: static;
  }

  #ScenarioBox{
        width: 45%;
        float: left;
        margin-left: 2em;
        padding: 1em;
        left: 10px;
    }
    
    #EventBox{
        width: 45%;
        margin-left: 2em;
        padding: 1em;
        float: left;
    }

    textarea{
        width: 100%;
        height: 250px;
        font-size: 16px;
      }

    #luck{
        width: 20%;
        height: 50px;
      }
      
    button{
        width: 100%;
        margin-top: 1em;
      }
    
    input{
        width: 100%;
      }
