
body {
    background-color: #04AA6D;
    position: relative;
    color: black;
  }
  h4{
    padding-top: 8px;
    text-align: center;
    font-size: 17px;
  }
  
  h1{
    text-align: center;
  }
  
  h2{
    padding-bottom: 0.5em;
    text-align: center;
  }
  #main{
    color:black;
    display:block;
    max-width: 900px;
    margin: auto;
    margin-top: 5%;
    padding: 2em;
    position: static;
  }

  #title{
    width: 800px;

  }
  #flex-container{
    margin-top: -1em;;
  }
   
    #ScenarioBox{
        width: 3;
        max-height: fit-content;
    }
    
    textarea{
        margin-left: 2%;
        width: 40%;
        height: 150px;
        padding: 12px 20px;
        font-size: 16px;
        resize: none;
      }
      #luck{
        width: 14%;
        height: 50px;
        /*transform: translate(70%,-130%);*/
      }
      
      #EventBox{
        width: 100%;
        transform: translate(50%,-50%);
        max-height: fit-content;
      }
      button{
        width: fit-content;
        transform: translate(60%, 0);
      }
      input{
        width: fit-content;
        transform: translate(40%, 0);
      }
